{% extends "base.html" %}

{% block content %}


<div class="p-3 max-w-xl mx-auto rounded overflow-hidden shadow-lg bg-white">
<h1>Lets upload some DB stuff!</h1>
<form action="/db_form" method="POST">
    <div class="form-group">
    <h3>Your Name</h3>
    <input
        type="text"
        name="user_name"
        placeholder="Name of user"
        />
    <h3>What is your dream?</h3>
    <input
        type="text"
        name="dream"
        placeholder="Spill out your soul"
        />
    </div>
    <input type="submit" value="Submit" class="btn"/>
</form>
{% if message %}
    <p class="message">{{ message }}</p>
{% endif %}

<br>
</div>

{% for post in userdreams %}
<div><p>{{ post.user_name }} says: <b>{{ post.user_dream }}</b></p></div>
{% endfor %}

{% endblock content %}