{% extends "base.html" %}

{% block content %}
<head>
  <title>Posts</title>
</head>

<body>
  <br> </br>

<div class="max-w-3xl mx-auto flex content-center flex-wrap">
  <iframe width="867" height="488" src="https://www.youtube.com/embed/G6fMV1UPzkg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <br>   </br>

</div>

</body>
<div class="pt-8 pl-8 flex flex-col h-screen my-auto items-left bgimg bg-cover">
  <script src="https://apis.google.com/js/platform.js"></script>
  <div class="g-ytsubscribe" data-channelid="UCRS1DAQzxNJE-pTm9Dr7KXQ" data-layout="default" data-count="default"></div>
</div>
{% endblock content %}