{% extends "base.html" %}

{% block content %}
<h1>Hi, {{ current_user.username }}!</h1>
{% if form %}
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.post.label }}<br>
        {{ form.post(cols=32, rows=4) }}<br>
        {% for error in form.post.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endif %}

{% for p in posts %}
<table>
  <tr valign="top">
      <td><img src="{{ p.author.avatar(36) }}"></td>
      <td>
          <a href="{{ url_for('user', username=p.author.username) }}">
              {{ p.author.username }}
          </a>
          says:<br>{{ p.body }}
      </td>
  </tr>
</table>
{% endfor %}
{% if prev_url %}
<a href="{{ prev_url }}">Newer posts</a>
{% endif %}
{% if next_url %}
<a href="{{ next_url }}">Older posts</a>
{% endif %}
<head>
  <title>Posts</title>
</head>

<body>
  <br> </br>

<div class="max-w-3xl mx-auto flex content-center flex-wrap">
  <iframe width="867" height="488" src="https://www.youtube.com/embed/G6fMV1UPzkg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <br>   </br>

</div>

</body>
<div class="pt-8 pl-8 flex flex-col h-screen my-auto items-left bgimg bg-cover">
  <script src="https://apis.google.com/js/platform.js"></script>
  <div class="g-ytsubscribe" data-channelid="UCRS1DAQzxNJE-pTm9Dr7KXQ" data-layout="default" data-count="default"></div>
</div>



{% endblock content %}