{% block content %}
<script src=https://unpkg.com/vue-slick-carousel></script>


<div id="components_demo">
    <button-counter></button-counter>
</div>

{% endblock content %}

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


<script> 
    var components_demo = new Vue({ 
        el: '#components_demo',
        delimiters: ['~~', '~~'],
        data: function () {
        return {
        count: 0 }
            },
            template: '<button v-on:click="count++">You clicked me ~~count~~ times.</button>'
    })
</script>

