{% extends "base.html" %}

{% block content %}


<table>
    <tr valign="top">
        <td><img src="{{ user.avatar(128) }}"></td>
        <td>
            <h1>User: {{ user.username }}</h1>
            {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
            <!--{% if user.last_seen %}-->
            <p>Last seen on: </p>
            <div id="timez">
                [[[ momentz ]]] 
            </div>
            <!--{% endif %}-->
            {% if user == current_user %}
            <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
            {% elif not current_user.is_following(user) %}
            <p><a href="{{ url_for('follow', username=user.username) }}">Follow</a></p>
            {% else %}
            <p><a href="{{ url_for('unfollow', username=user.username) }}">Unfollow</a></p>
            {% endif %}
            <p>{{ user.followers.count() }} followers, {{ user.followed.count() }} following.</p>
        </td>

    </tr>
</table>
<hr>
{% for post in posts %}
<table>
    <tr valign="top">
        <td><img src="{{ post.author.avatar(36) }}"></td>
        <td>{{ post.author.username }} says:<br>{{ post.body }}</td>
    </tr>
</table>
{% endfor %}
{% if prev_url %}
<a href="{{ prev_url }}">Newer posts</a>
{% endif %}
{% if next_url %}
<a href="{{ next_url }}">Older posts</a>
{% endif %}



<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script> 
<!--script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.28/moment-timezone-with-data-2012-2022.js"></script--> 

<!--script>var moment = require('moment-timezone');</script-->
<script>var moment = require('moment-timezone');</script>
<script>
var timez = new Vue({
    el: '#timez',
    delimiters: ['[[[', ']]]'],
    data: {
        momentz: moment("{{ user.last_seen }}").utc('America/New_York|US/Eastern').format('LLL')
    }
})
</script>

{% endblock %}